---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5 flex items-center" id="cv-section">
    <div class="text-3xl w-full font-bold">Profile</div>
    <a
      class="btn btn-outline normal-case text-xl print:hidden"
      onclick="window.print()">Print me!️</a
    >
  </div>

  <p class="mb-10 text-justify">
    Experienced full-stack Software Engineer with 3+ years of experience
    designing, developing and maintaining dynamic web applications used by
    thousands of customers. Skilled in front-end technologies such as React,
    Angular and Phoenix LiveView, as well as back-end development with Elixir,
    Java and databases such as MongoDB and Postgres. Proven ability in building
    end-to-end web applications for patient services and education, ensuring
    secure handling of sensitive data in compliance with state and federal
    regulations, including HIPAA and FERPA.
  </p>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelors in Computer Science"
      subtitle="2022 to 2026 at Florida State University, Tallahassee, United States"
    />
    <TimeLineElement
      title="General A.A."
      subtitle="2017 to 2020 at Gulf Coast State College, Panama City, United States"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Junior Software Engineer"
      subtitle="From 2023 to Current Day at CutTime, United States"
    >
      Led and contributed to the design and implementation of real-time
      interactive web applications using Elixir and Phoenix LiveView within the
      fine arts education sector. Worked alongside marketing, support, design to
      ensure alignment of technical solutions with business goals and user
      needs. Played a key role in building a foundational design system that
      streamlined UI consistency and usability across the application.
      Contributed to accessibility testing and improvements. Streamlined system
      processes, optimized infrastructure usage and minized costs associated
      with third-party services.
    </TimeLineElement>
    <TimeLineElement
      title="Software Engineering Intern"
      subtitle="From 2021 to 2022 at Millennia Patient Services/Jellyfish Health, Panama City, Florida"
    >
      Designing, Debugging and implementing frontend UI components for a web
      application serving 1000+ medical practices. Collaborating with designers,
      backend developers and analysts to ensure cohesive and efficient
      development. Writing clean maintainable code using Angular, React and
      Bootstrap CSS.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Elixir</li>
    <li>Phoenix Liveview</li>
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>Python</li>
    <li>SQL</li>
    <li>PostgreSQL</li>
    <li>MongoDB</li>
    <li>React</li>
    <li>Tailwind</li>
    <li>Git</li>
    <li>AWS S3</li>
    <li>Docker</li>
    <li>Github</li>
    <li>ExUnit</li>
    <li>Figma</li>
    <li>Agile</li>
  </ul>
</BaseLayout>
